/* ===== NAVBAR ===== */

.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 25px;
    background: #dbdbdb;
    transition: .3s;
}

.navbar.scrolled{
    padding:6px 20px;
    box-shadow:0 6px 20px rgba(0,0,0,.15);
}

/* ===== LOGO ===== */
.logo img{
    height: 55px;
    display: block;
    transition: .3s;
}

.navbar.scrolled .logo img{
    height: 42px;
}

/* ===== MENÚ ===== */
.menu{
    display:flex;
    align-items:center;
    gap:10px;
    list-style:none;
}

.menu li{
    display:flex;
    align-items:center;
}

.menu a,
.dropdown-btn{
    display:flex;
    align-items:center;
    justify-content:center;
    height:42px;
    padding:0 10px;
    color:#000;
    text-decoration:none;
    font-family: 'Times New Roman', Times, serif;
    font-size:16px;
    font-weight:700;
    background:transparent;
    border:none;
    border-radius:8px;
    cursor:pointer;
    transition:background-color .3s ease;
    white-space:nowrap;
}

.dropdown-btn{
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    outline:none;
    margin:0;
}

.menu a:hover,
.dropdown-btn:hover,
.dropdown.active .dropdown-btn{
    background:#ffbaba;
}

/* ===== BOTÓN DE UNIRSE EN EL NAVBAR ===== */
.join-btn{
    color:#000000 !important;
    border-radius:25px;
    font-weight:600;
}

.join-btn:hover{
    background:#77b6ee !important;
}

/* ===== SUBMENÚ ===== */
.menu li{
    position: relative;
}

.submenu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 180px;
    background: #dbdbdb;
    border-radius: 10px;
}

.dropdown.active .submenu{
    display: block;
}

/* ===== BOTÓN MÓVIL ===== */
.toggle{
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
}

@media (max-width:768px){

    .toggle{
        display:block;
    }

    .navbar{
        flex-wrap:wrap;
        padding:10px 15px;
    }

    .menu{
        display:flex;
        gap:20px;
        list-style:none;
    }

    .menu.show{
        display:flex;
    }

    .menu a,
    .dropdown-btn{
        width:100%;
        text-align:left;
        padding:12px 15px;
    }

    .submenu{
        position:static;
        width:100%;
        margin-top:5px;
        box-shadow:none;
    }

    .logo img{
        height:45px;
    }

}