.navbar{
    position:sticky;
    top:0;
    z-index:1000;
    display:flex;
    justify-content:space-between;
    transition: all .3s ease;
    align-items:center;
    background:#34495e;
    padding:12px 25px;
}

.navbar.scrolled{
    padding: 6px 20px;
    background: rgba(44,62,80,.95);
    box-shadow: 0 6px 20px rgba(0,0,0,.15);
    backdrop-filter: blur(8px);
}

.logo{
    color:white;
    font-size:22px;
    font-weight:bold;
}

.logo img{
    height:55px;
    transition:.3s;
}

.navbar.scrolled .logo img{
    height:42px;
}

.menu{
    display:flex;
    gap:20px;
    list-style:none;
}

.menu li{
    position:relative;
}

.menu a{
    color:white;
    text-decoration:none;
    padding:10px 15px;
    border-radius:8px;
    transition:.3s;
    display:block;
}

.menu a:hover{
    background:#1abc9c;
}

/* Dropdown */
.submenu{
    display:none;
    position:absolute;
    top:45px;
    left:0;
    background:#2c3e50;
    min-width:180px;
    border-radius:10px;
    overflow:hidden;
}

.dropdown.active .submenu{
    display:block;
}

.submenu a{
    padding:12px;
}

/* Botón móvil */
.toggle{
    display:none;
    background:none;
    border:none;
    color:rgb(56, 9, 9);
    font-size:28px;
    cursor:pointer;
}

@media(max-width:768px){
    .toggle{
        display:block;
    }
    .menu{
        display:none;
        position:absolute;
        top:70px;
        right:15px;
        width:220px;
        flex-direction:column;
        background:#34495e;
        border-radius:10px;
        padding:10px;
    }

    .menu.show{
        display:flex;
    }

    .submenu{
        position:static;
    }
}