@media (max-width:1300px){
    .timeline{
        grid-template-columns:1fr;
        gap:35px;
    }

    .left-column,
    .center-column{
        max-width:700px;
        width:100%;
        margin:0 auto;
    }
}

@media (max-width:1100px){

    /* Imagen principal */
    .hero-image{
        width:92%;
        margin:20px auto;
    }

    .hero-image img{
        border-radius:14px;
    }

    /* Botón de registro en el inicio que manda al forms */
    .register-btn{
        width:90%;
        text-align:center;
        padding:15px 20px;
        font-size:1rem;
    }

    /* Navbar */
    .navbar{
        flex-wrap:wrap;
    }

    .logo img{
        height:45px;
    }

    .toggle{
        display:block;
    }

    .menu{
        display:none;
        position:absolute;
        top:70px;
        right:15px;
        width:280px;
        max-width:90vw;
        background:#dbdbdb;
        border-radius:18px;
        padding:12px;
        flex-direction:column;
        gap:8px;
        box-shadow:0 12px 30px rgba(0,0,0,.18);
        overflow-y:auto;
        max-height:70vh;
        z-index:999;
    }

    .menu.show{
        display:flex;
    }

    .menu li{
        width:auto;
    }

    .dropdown{
        width:auto;
    }

    .menu a,
    .dropdown-btn{
        width:100%;
        padding:12px 15px;
        display:flex;
        align-items:center;
        justify-content:flex-start;
        height:42px;
        padding:0 18px;
        color:#000;
        text-decoration:none;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size:16px;
        background:transparent;
        border:none;
        border-radius:10px;
        cursor:pointer;
        transition:.3s;
    }

    .menu a:hover,
    .dropdown-btn:hover,
    .dropdown.active .dropdown-btn{
        background:#ffbaba;
    }

    .submenu{
        position:static;
        width:100%;
        margin-top:6px;
        background:#ececec;
        border-radius:10px;
        overflow:hidden;
    }

    /* Botón regresar */
    .return-container{
        top:80px;
        left:12px;
    }

    .return-btn img{
        width:45px;
    }

    /* Texto galería */
    .text-container-gallery{
        width:92%;
        margin:30px auto;
    }

    .text-container-gallery h2{
        font-size:1.8rem;
    }

    .text-container-gallery p{
        font-size:1rem;
        line-height:1.7;
    }

    /* Redes sociales */
    .social-section h2{
        font-size:1.6rem;
    }

    .social-links{
        gap:20px;
    }

    .social-card img{
        width:60px;
        height:60px;
    }

    .social-card span{
        font-size:.95rem;
    }

    /* Galería */
    .flip-card{
        height: 380px;
    }

    .flip-card-inner{
        height:100%;
    }

    /* Carrusel */
    .carousel-section{
        width:92%;
    }

    .slide{
        height:250px;
    }

    /* Mascota */
    .mascot-section{
        flex-direction:column-reverse;
        gap:20px;
    }

    .speech-bubble{
        max-width:100%;
    }

    .speech-bubble::after{
        display:none;
    }

    .mascot img{
        width:200px;
    }

    /* Scroll hacia secciones */
    #inicio,
    #mision,
    #vision,
    #valores,
    #contacto{
        scroll-margin-top:80px;
    }

    .mission-vision{
        flex-direction:column;
        gap:20px;
    }

    /* Estilo de testimonios */
    .testimonial-prev{
        left:5px;
    }

    .testimonial-next{
        right:5px;
    }

    .testimonial-prev,
    .testimonial-next{
        width:42px;
        height:42px;
        font-size:18px;
    }

    /*Donaciones*/
    .donation-card{
        padding:25px;
    }

    .donation-section h2{
        font-size:1.8rem;
    }

    .copy-box{
        flex-direction:column;
    }

    .copy-box span{
        width:100%;
        word-break:break-all;
    }


    /*Niveles*/
    .levels{
        width:95%;
    }

    .levels-row{
        grid-template-columns:repeat(2,1fr);
    }

    .project-card{
        max-width:100%;
    }

    /* Tarjetas de los niveles */
    .level-card{
        width:100%;
    }

    .levels-row{
        grid-template-columns:repeat(2,1fr);
    }

    /* Proyecto */
    .project-card{
        width:100%;
    }

    /* Beneficios */
    .benefits-container{
        max-width:900px;
        margin:50px auto;
    }


    .benefits-section{
        margin-top:50px;
    }

    .benefits-grid{
        display:grid;
        grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
        gap:20px;
    }

    .benefit{
        padding:18px;
        text-align:center;
    }
}


/* Tablets - Resultados */
@media (max-width:900px){
    .results{
        width:94%;
    }
    .results p{
        font-size:1rem;
        line-height:1.8;
    }

    .photo-row{
        grid-template-columns:repeat(2,1fr);
    }

    /*Socios*/

    .partner{
        gap:25px;
    }

    .partner-photo{
        width:150px;
        height:150px;
    }
}

@media (max-width:768px){
    .levels-row{
        grid-template-columns:1fr;
    }

    .levels h1{
        font-size:2rem;
    }

    .levels-subtitle{
        font-size:1rem;
    }

    .benefits-grid{
        grid-template-columns:1fr;
    }

    .benefit{
        min-height:80px;
        font-size:1rem;
    }

    .timeline{
        gap:20px;
    }

    .left-column,
    .center-column{
        max-width:100%;
    }

    .project-card{
        width:100%;
        padding:20px;
    }

    .level-card{
        padding:20px;
    }

    .info-card{
        padding:20px;
    }
}

/*Socios*/
@media (max-width:700px){
    .partner{
        flex-direction:column;
        text-align:center;
        padding:25px;
    }

    .partner-info{
        width:100%;
    }

    .partner-info h2{
        margin-top:10px;
    }

    .partner-info p{
        text-align:justify;
    }

    .partner-photo{
        width:170px;
        height:170px;
    }
}


/* Celulares - Resultados*/

@media (max-width:600px){
    .results{
        width:95%;
    }

    .results h1{
        font-size:2rem;
    }

    .results h2{
        font-size:1.45rem;
    }

    .results p{
        font-size:.98rem;
    }

    .photo-row{
        grid-template-columns:1fr;
    }

    .photo-row img{
        height:210px;
    }

    .award{
        display:block;
        width:100%;
        text-align:center;
    }

    .close{
        font-size:42px;
        right:20px;
    }
}

@media (max-width:480px){
    .levels h1{
        font-size:1.7rem;
    }

    .levels-subtitle{
        font-size:.95rem;
    }

    .level-card,
    .info-card,
    .project-card{
        padding:18px;
    }

    .benefit{
        padding:16px;
    }

    /*Socios*/
    .partner{
        padding:20px;
    }

    .partner-photo{
        width:140px;
        height:140px;
    }

    .partner-info h2{
        font-size:1.6rem;
    }

    .partner-info p{
        font-size:1rem;
    }
}