@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-v24-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

/* ===== Imagen principal ===== */
.hero-image{
    width: 90%;
    max-width: 1100px;
    margin: 35px auto;
}

.hero-image img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
    object-fit: contain;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
    transition: transform .3s ease,
                box-shadow .3s ease;
}

.hero-image img:hover{
    transform: scale(1.01);
    box-shadow: 0 14px 30px rgba(0,0,0,.2);
}

/* Botón de registro */

.register-container{
    display:flex;
    justify-content:center;
    margin:25px auto 40px;
}

.register-btn{
    display:inline-block;
    padding:16px 32px;
    background:#fb6455;
    color:#ffffff;
    text-decoration:none;
    font-family: 'Poppins', sans-serif;
    font-size:1.05rem;
    font-weight:600;
    border-radius:999px;
    transition:
        background .3s ease,
        transform .2s ease,
        box-shadow .3s ease;

    box-shadow:0 8px 20px #853131;
}

.register-btn:hover{
    background:#ff4737;
    transform:translateY(-3px);
    box-shadow:0 12px 24px #662626;
}

.register-btn:active{
    transform:translateY(0);
}

/* Contenedor del texto página de inicio */
.text-container{
    max-width:1200px;
    margin:40px auto;
    padding:30px;
    background:#ffffff;
    border-radius:16px;
    box-shadow:0 8px 20px rgb(255, 255, 255);
}

/* Títulos página de inicio */
.text-container h2{
    color:#3c9df4;
    margin-bottom:20px;
    text-align:center;
    font-size:2rem;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 700;
}

/* Párrafos página de inicio */
.text-container p{
    color:#000000;
    font-size:1.1rem;
    line-height:1.8;
    text-align:justify;
}

.text-container-gallery{
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
}

.text-container-gallery h2{
    text-align: center;
    font-size: 2.2rem;
    color: #222;
    margin-bottom: 25px;
    font-weight: 700;
}

.text-container-gallery p{
    color: #000000;
    font-size: 1.1rem;
    line-height: 1.9;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    margin-bottom: 20px;
}

/* Estilo del botón de regreso */
.return-container{
    position: fixed;
    top: clamp(85px, 10vw, 100px); /* Debajo de la navbar */
    left: clamp(12px, 2vw, 20px);
    z-index: 999;
}

.return-btn{
    display: block;
    transition: transform .2s ease;
}

.return-btn img{
    width:clamp(32px,4vw,55px);
    height:auto;
    display:block;
}

.return-btn:hover{
    transform: scale(1.1);
}

.return-btn:active{
    transform: scale(0.95);
}

.navbar {
  position: sticky;
  top: 0;
  background: #dbdbdb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}

.logo{
    display:flex;
    align-items:center;
}

.logo img{
    height:55px;      /* Alto del logo */
    width:auto;       /* Mantiene la proporción */
    display:block;
    transition:transform .3s ease;
}

.logo1{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente si el contenedor tiene altura */
    width: 100%;
}

.logo1 img{
    width: 100%;
    max-width: 250px;   /* Tamaño máximo del logo */
    height: auto;       /* Mantiene la proporción */
    display: block;
    transition: transform .3s ease;
}

.logo1 img:hover{
    transform: scale(1.05);
}

.logo img:hover{
    transform:scale(1.08);
}

.menu{
    display:flex;
    align-items:center;
    list-style:none;
    gap:12px;
    margin:0;
    padding:0;
}

.menu.show{
    display:flex;
    opacity:1;
    transform:translateY(0);
    pointer-events:auto;
}

/*Botones del menú*/
.menu a,
.dropdown-btn{
    width:100%;
    justify-content:flex-start;
    padding:12px 15px;
    border-radius:10px;
}

/*Botón de nosotros*/
.menu a:hover,
.dropdown-btn:hover,
.dropdown.active .dropdown-btn{
    background: #ffbaba;
}

.dropdown {
  position: relative;
}

.submenu{
    position:static;
    width:100%;
    margin-top:6px;
    background:#ececec;
    border-radius:10px;
    overflow:hidden;
    box-shadow:none;
}

.submenu li{
    width:100%;
}

.submenu a{
    justify-content:flex-start;
    padding:12px 18px;
}

.toggle {
  display: none;
  font-size: 25px;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* cuando esté activo */
.dropdown.active .submenu {
  display: block;
}

section{
    max-width:1100px;
    width:95%;
    margin:40px auto;
    padding:35px;
    background:#fff;
    border-radius:16px;
    box-shadow:0 8px 20px rgb(255, 255, 255);
}

section h2{
    text-align:center;
    font-size:2rem;
    margin-bottom:20px;
}

section p{
    text-align:justify;
    font-size:1.1rem;
    line-height:1.8;
}

/* ===== Misión y Visión ===== */

.mission-vision{
    display:flex;
    gap:30px;
    width:95%;
    max-width:1100px;
    margin:40px auto;
    align-items:stretch;
}

.mission-vision .card{
    flex:1;
    margin:0;
}

.mission-vision .card h2{
    text-align:center;
    color:#3c9df4;
}

.mission-vision .card p{
    text-align:justify;
}

.anchor{
    scroll-margin-top:95px;
}


/*========== Carrusel ==========*/

.carousel-section{
    width:75%;
    max-width:650px;
    margin:60px auto;
    box-shadow:none;
}

.carousel-section h2{
    text-align:center;
    margin-bottom:25px;
    color:#04b484;
    font-size:2rem;
}

.carousel{
    position:relative;
    overflow:hidden;
    border-radius:18px;
    border:2px solid #fced04;
}

.carousel-track{
    position:relative;
}

.slide{
    width:100%;
    display:none;
    border-radius:18px;
    aspect-ratio:16/9;
    object-fit:contain;
}

.slide.active{
    display:block;
}

.prev,
.next{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:50px;
    height:50px;
    border:none;
    border-radius:50%;
    background:#dbdbdb;
    font-size:22px;
    cursor:pointer;
    transition:.3s;
}

.prev:hover,
.next:hover{
    background:#3c9df4;
    color:rgb(0, 0, 0);
}

.prev{
    left:15px;
    color:#000;
    z-index:999;
}

.next{
    right:15px;
}

/* Sección de impacto */

.impact{
    width:95%;
    max-width:1200px;
    margin:70px auto;
    text-align:center;
}

.impact h2{
    font-size:2.3rem;
    color:#3c9df4;
    margin-bottom:15px;
}

.impact > p{
    max-width:750px;
    margin:0 auto 40px;
    font-size:1.1rem;
    line-height:1.8;
    color:#555;
}

.impact-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}

.impact-card{
    padding:35px 20px;
    border-radius:20px;
    color:white;
    transition:.3s;
}

.impact-card:hover{
    transform:translateY(-8px);
}

.impact-card h3{
    font-size:2.7rem;
    margin-bottom:12px;
}

.impact-card p{
    font-size:1rem;
    line-height:1.6;
}

.color1{
    background:#3C9DF4;
}

.color2{
    background:#04B484;
}

.color3{
    background:#FB6455;
}

.color4{
    background:#F7B731;
}

.color5{
    background:#7C4DFF;
}

.color6{
    background:#b9437e;
}

footer {
    text-align: center;
    padding: 15px;
    background: #6d6d6d;
    color: white;
    margin-top: 20px;
}

/*Estilo imágenes de inicio*/
/* Contenedor de la imagen */
.img-style1{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

/* Imagen */
.img-style1 img{
    width: 100%;
    max-width: 600px;      /* Tamaño máximo */
    height: 300px;         /* Alto fijo */
    object-fit: contain;     /* Muestra toda la imagen */
    display: block;
    border: 1px solid #000000;
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(0,0,0,.15);
    transition: transform .3s ease,
                box-shadow .3s ease;
}

.img-style1 img:hover{
    transform: scale(1.03);
    box-shadow: 0 12px 25px rgba(0,0,0,.25);
}

/* Para que el navbar no tape los títulos
#inicio,
#mision,
#vision,
#values,
#carousel-section,
#impact,
#donations{
    scroll-margin-top: 95px;
}*/

/*Donaciones*/

.donation-section{
    width:95%;
    max-width:1100px;
    margin:70px auto;
    text-align:center;
}

.donation-section h2{
    color:#04B484;
    font-size:2.3rem;
    margin-bottom:20px;
}

.donation-description{
    max-width:750px;
    margin:0 auto 40px;
    font-size:1.1rem;
    line-height:1.8;
}

.donation-card{
    background:white;
    border:4px solid #04B484;
    border-radius:22px;
    padding:40px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.donation-card h3{
    color:#3c9df4;
    margin-bottom:30px;
    font-size:1.8rem;
}

.bank-info p{
    margin:10px 0;
    font-size:1.1rem;
}

.copy-box{
    margin:15px auto;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
    flex-wrap:wrap;
}

.copy-box span{
    background:#f4f4f4;
    padding:12px 18px;
    border-radius:12px;
    font-weight:bold;
    letter-spacing:1px;
    font-size:1.1rem;
}

.copy-box button{
    background:#7C4DFF;
    color:white;
    border:none;
    padding:12px 22px;
    border-radius:12px;
    cursor:pointer;
    transition:.3s;
    font-size:1rem;
}

.copy-box button:hover{
    background:#3c9df4;
}

/*=========================
      MENSAJE COPIADO
=========================*/

.copy-toast{
    position:fixed;
    bottom:25px;
    right:25px;
    background:#04b46b;
    color:rgb(255, 255, 255);
    padding:14px 22px;
    border-radius:12px;
    font-weight:bold;
    opacity:0;
    visibility:hidden;
    transition:.3s;
    z-index:9999;
}

.copy-toast.show{
    opacity:1;
    visibility:visible;
}